name: fakeLink

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 0 */4 * * *
  watch:
    types: started
    
env:
  SETUP: ${{ secrets.SETUP }}

jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout codes
              uses: actions/checkout@v2 
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                node-version: '16.x'
            - name: Cache node_modules
              uses: actions/cache@v2 # 使用 GitHub 官方的缓存 Action。
              env:
                cache-name: cache-node-modules
              with:
                path: node_modules
                key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }} # 使用 package-lock.json 的 Hash 作为缓存的 key。也可以使用 package.json 代替    
            - name: Run install
              run: npm install
            - name: Run fakeLink
              run: node fakeLink.js # > report.txt                
           
              
